.wrapper.w-full.text-center.bg-white-only(style='position:fixed;top:0;left: 0;z-index: 100;')
  img(src='/assets/images/quezx-logo.svg' style='height: 35px;')
.container
  .h2.wrapper-sm.text-center.text-primary.m-t-n-xl
    span(ng-if='$ctrl.type === 1') Partner&nbsp;
    span Sign Up
  form.form-horizontal.form-validation.m-t-xs.m-b-xs(
    name='signupForm'
    novalidate
    ng-submit='$ctrl.create(signupForm)'
  )
    .panel.panel-default.no-border.m-b-none
      .panel-body.padder-lg
        .w-full.m-b-sm: .col: .hbox
          .col-md-6.col-sm-6.col-xl-6.wrapper-xs
            .hbox
              label First Name
              span.text-danger.font-bold *
              input.form.form-control(
                type='text'
                name='firstName'
                ng-model='$ctrl.data.firstname'
                placeholder='Enter First Name'
                autofocus
                required
              )
              span.text-xs.text-danger(ng-show='$ctrl.forms.firstName.$dirty && $ctrl.forms.firstName.$invalid') Please enter first name
          .col-md-6.col-sm-6.col-xl-6.wrapper-xs
            .hbox
              label Last Name
              span.text-danger.font-bold *
              input.form.form-control(
                type='text'
                name='lastName'
                ng-model='$ctrl.data.lastname'
                placeholder='Enter Last Name'
                autofocus
                required
              )
              span.text-xs.text-danger(ng-show='$ctrl.forms.lastName.$dirty && $ctrl.forms.lastName.$invalid') Please enter Last name

        .w-full.m-b-sm: .wrapper-xs
          label Your Designation
          span.text-danger.font-bold *
          input.form.form-control.w-full(
            type='text'
            name='designation'
            ng-model='$ctrl.data.designation'
            placeholder='Enter Designation Name'
            autofocus
            required
          )
          span.text-xs.text-danger(ng-show='$ctrl.forms.designation.$dirty && $ctrl.forms.designation.$invalid') Please enter designation

        .w-full.m-b-sm: .wrapper-xs
          label Company Name
          span.text-danger.font-bold *
          input.form.form-control.w-full(
            type='text'
            name='companyname'
            ng-model='$ctrl.data.companyname'
            placeholder='Enter Company Name'
            autofocus
            required
          )
          span.text-xs.text-danger(ng-show='$ctrl.forms.companyname.$dirty && $ctrl.forms.companyname.$invalid') Please enter company name


        .w-full.col.m-b-sm
          .col-sm-6.wrapper-xs
            span Your Email
            span.text-danger.font-bold *
            input.text-no-glow.form-control(
              type='email'
              placeholder='Email'
              ng-model='$ctrl.data.email'
              required
            )
          .col-sm-6.wrapper-xs
            span Your Mobile Number
            span.text-danger.font-bold *
            .input-group
              .input-group-addon +91
              input.form.form-control(
                type='text'
                name='mobno'
                ng-pattern='/^[1-9]\\d{9}$/'
                ng-model='$ctrl.data.mobno'
                required
              )
            span.text-xs.text-danger(ng-show='$ctrl.forms.mobno.$dirty && $ctrl.forms.mobno.$invalid') Invalid mobile number
        .w-full.col.m-b-sm
          .col-sm-6.wrapper-xs
            span Company Location
            span.text-danger.font-bold *
            input#location.form-control(
              type='text'
              name='location'
              autocomplete='off'
              ng-model='$ctrl.data.location'
              ng-model-options='{debounce: 400}'
              placeholder='Location'
              required
            )
          .col-sm-6.wrapper-xs
            span Company Size
            span.text-danger.font-bold *
            select.form.form-control(
              ng-options="item.value as item.name for item in $ctrl.EmployeeRange"
              ng-model='$ctrl.data.company_size'
              required
            )
              option(value="") Select Employee Range
        .w-full.m-b-sm.wrapper-xs.m-b-sm
          .col-xs-12.no-padder.m-t
            span Company Address
            span.text-danger(ng-if='$ctrl.type === 1') *
          textarea.form.form-control(
            ng-model='$ctrl.data.address'
            name='address'
            style='resize: none;'
            rows="3"
            ng-required='$ctrl.$stateParams.type === 1'
          )
        .w-full.m-b-sm.wrapper-xs.m-b-sm(ng-if='$ctrl.type === 2')
          .col-xs-12.no-padder
            span About Company
          textarea.form.form-control(
            ng-model='$ctrl.data.about_company'
            name='address'
            style='resize: none;'
            rows="3"
          )


        div.text-center.text-sm(style='height: 50px;')
          .wrapper-xs.text-danger(ng-if='$ctrl.ui.error')
            i.fa.fa-exclamation-circle.m-r-xs
            span.text-sm(ng-bind='$ctrl.ui.error')
          .wrapper-xs.text-success(ng-if='$ctrl.ui.success')
            i.fa.fa-check-circle-o.m-r-xs
            span.text-sm(ng-bind='$ctrl.ui.success')

        .w-full.m-b-md.clear.text-center
          button.btn.padder-lg.btn-info(type='submit' ng-disabled='signupForm.$invalid')
            i.fa.fa-spin.fa-circle-o-notch(ng-if='$ctrl.ui.loading')
            span(ng-if='$ctrl.ui.loading') Signing Up...
            span(ng-if='!$ctrl.ui.loading') Sign Up
