.container.hbox.hbox-auto-xs.m-b-md
  .col.w-xxl
    img(src='{{$ctrl.$stateParams.id === 4 ? "/assets/images/qdesk.svg" : "/assets/images/logo.svg"}}', alt='Qdesk Uninstall')
.container.hbox.hbox-auto-xs.m-b-md
  .col.w-xxl
    span.text-3x  {{$ctrl.$stateParams.id === 4 ? "Sorry to see you go" : " "}}
.container.hbox.hbox-auto-xs
  .col.w-xxl
    form.form-validation.r-2x.b-light-dker.wrapper-md.bg-white-only.clear(
      name="rejectForm"
      ng-submit='$ctrl.ok()'
    )
      .alert.alert-danger(ng-show='$ctrl.error' ng-bind='$ctrl.error')
      .alert.alert-success(ng-show='$ctrl.success')
        span {{$ctrl.success}}

      .form-group
        label.col-xs-12.input-group.text-dark-dker(ng-if='$ctrl.$stateParams.id === 4')
          | Please select the reason for which you are uninstalling Qdesk
        .checkbox(ng-repeat='option in $ctrl.data')
          label.i-checks
            input(
              type='checkbox'
              ng-model='option.checked'
              ng-change='option.is_other && ($ctrl.is_other = option.checked)'
            )
            i
            | {{option.name}}
      .form-group(ng-if='$ctrl.is_other')
        label.text-dark-dker.m-t-xs Please Specify
        textarea.wrapper-md.form-control(
          type='text'
          name='answer'
          ng-model='$ctrl.other'
          required
        )
      .clear
        hr
        .pull-right.wrapper-xs
          button.btn.btn-danger(type='submit' ng-disabled='!$ctrl.isOptionSelected() || rejectForm.$invalid') SUBMIT
          a.btn.btn-default.m-l-xs(ng-click='$ctrl.$uibModalInstance.dismiss(false)') CANCEL
