.container.w-xxl.w-auto-xs.app-header-fixed
  a.text-center.navbar-brand.block.m-t(href='')
    img(src='./assets/images/quezx-logo-blue.svg' alt='QuezX Accounts')
  .padder.text-center.m-xs: strong Sign in
  .no-padder.text-center.text-muted Enter your Email address

  form.form-validation.m-sm(name='form' ng-submit='$ctrl.signin()')
    .text-danger.wrapper.text-center(ng-show='$ctrl.error' ng-bind='$ctrl.error')

    .list-group.list-group-sm
      .list-group-item: input.form-control.no-border(
      type='text'
      placeholder='Email address'
      ng-model='$ctrl.user'
      autofocus='true'
      required)
    .list-group.list-group-sm
      button.btn.btn-gr.btn-lg.btn-success.btn-block.text-u-c(
      type='submit'
      ) Login
