.container.w-full(style='background-image: url(assets/images/bg-password-reset.png);background-repeat: no-repeat;background-position: center; position: fixed; top: 0px; bottom: 0px; text-align: center;')
.container.text-center
  .col(style='display: inline-block; position: absolute;transform: translate(-50%,-65%); left: 50%; top: 50%')
    a.navbar-brand.block.m-t(ui-sref='oauth.sign-in')
      img(src='/assets/images/logo.svg', alt='QuezX Accounts')
    .col(ng-if='!$ctrl.resetPwd')
      .wrapper.text-dark
        div.text-info.text-dark
          h3 Reset Password
      form.form-validation.r-2x.b-a.b-light-dker.wrapper-md.bg-white-only.clear(name='form' ng-submit='$ctrl.sendResetMail()' method='POST')
        .alert.alert-danger(ng-show='$ctrl.error' ng-bind='$ctrl.error')
        .alert.alert-success(ng-show='$ctrl.success' ng-bind='$ctrl.success')
        div(ng-if='$ctrl.sentTo')
          img(src='/assets/images/success-mail-sent.png', alt='Mail sent')
          div A forgot password mail has been sent to your email id
          b(ng-bind='$ctrl.sentTo')
        div(ng-if='!$ctrl.sentTo')
          .form-group
            label.text-dark-dker(for='email_id') Enter your email address and we will send your reset password.
            input.wrapper-md.form-control(
              type='email'
              name='email_id'
              ng-model='$ctrl.data.email_id'
              id='email_id'
              ng-pattern='/\\S+@\\S+\\.\\S+/'
              required
              autofocus)
          button.btn.w-full.btn-success(type='submit' ng-disabled='form.$invalid') Send password reset email
    .col(ng-if='$ctrl.resetPwd' style='width: 400px;')
      .wrapper
        div.text-info.text-dark(ng-if='!$ctrl.isPasswordBlock')
          h3 Reset Password
            .h5.text-muted.wrapper-sm Choose a new password for your QuezX Account

      form.bg-white-only.wrapper-md.clear(name="resetPwdFrm" ng-submit='$ctrl.pwdReset()' method='POST')
        .alert.alert-danger(ng-show='$ctrl.error' ng-bind='$ctrl.error')
        .alert.alert-success(ng-show='$ctrl.success' ng-bind='$ctrl.success')
        .form-group
          label.text-dark-dker(for='password') New password
          .text-danger-lter(ng-if='resetPwdFrm.confirm_password.$touched')
            p(ng-show='resetPwdFrm.password.$error.minlength') Password must be 3 Characters or more
          input.wrapper-md.form-control(
            type='password'
            name='password'
            ng-model='$ctrl.data.password'
            id='password'
            ng-minlength="3"
            ng-change='$ctrl.match(resetPwdFrm.confirm_password)'
            required
          )
        .form-group
          label.text-dark-dker(for='confirm_password') Confirm new password
          .text-danger-lter(ng-if='resetPwdFrm.confirm_password.$touched')
            p(ng-show='resetPwdFrm.confirm_password.$error.match') Password mismatch
          input.wrapper-md.form-control(
            type='password'
            name='confirm_password'
            ng-model='$ctrl.data.confirm_password'
            id='confirm_password'
            ng-change='$ctrl.match(resetPwdFrm.confirm_password)'
            required
          )
        .hbox
          button.btn.btn-success.center-block(type='submit' ng-disabled='resetPwdFrm.$invalid') Update

    .col.m-t-xs
      footer
