.container.w-xxl.w-auto-xs
  a.navbar-brand.block.m-t(ui-sref='oauth.sign-in')
    img(src='/assets/images/logo.svg', alt='QuezX Accounts')
  .wrapper.text-center.text-dark: h3 Reset your password

  form.form-validation.r-2x.b-a.b-light-dker.wrapper-md.bg-white-only.clear(name='form' ng-submit='$ctrl.reset()' method='POST')
    .alert.alert-danger(ng-show='$ctrl.error' ng-bind='$ctrl.error')
    .alert.alert-success(ng-show='$ctrl.success')
      span {{$ctrl.success}}
      a.pull-right.text-success(ui-sref='oauth.sign-in'): b Log In

    .form-group
      label.text-dark-dker(for='email_id') Enter your email address and we will send your reset password.
      input.wrapper-md.form-control(
        type='email'
        name='email_id'
        ng-model='$ctrl.data.email_id'
        id='email_id'
        ng-pattern='/\\S+@\\S+\\.\\S+/'
        required
        autofocus)
    button.btn.w-full.font-bold.btn-success.bg-gd-lt(type='submit' ng-disabled='form.$invalid') Send password reset email

  footer
