div(ng-controller='NavJobsController as Job' style='position: relative;')
  .w.bg-light.b-b.b-r(style='position: fixed; z-index: 2;')
    .wrapper-xs
      .b-b
        a.btn-group(ui-sref='app.jobs.new' target='_blank')
          button.btn.btn-primary: .padder: .padder &nbsp;Upload JD
          button.btn.btn-primary: i.fa.fa-upload
      .input-group
        input.form-control.wrapper-xs(type='text' placeholder='          Search Position' ng-model='Job.searchText.role')
        a.input-group-addon.input-sm.bg-light.dker: i.fa.fa-search.text-dark
  .w.nav-job.bg-light.b-r
    .w(style='position: relative;  overflow-y: scroll; overflow-x: hidden; height: 100%; width: 208px;')
      .m-t-sm

      a: .m-l-xs.h4.text-info-lt(ng-if='Job.open.length' ng-click='Job.collapse.open = !Job.collapse.open')
        i.fa.fa-plus-square(ng-if='Job.collapse.open')
        i.fa.fa-minus-square(ng-if='!Job.collapse.open')
        | &nbsp; Open
      ul.m-t-xs.nav(uib-collapse='Job.collapse.open')
        li.b-l.b-3x(
          ng-repeat='job in Job.open'
          ng-class='{"text-primary b-primary": job.id == App.$state.params.jobId}'
          uib-tooltip="{{job.role}}" tooltip-placement='right' tooltip-append-to-body='true'
        )
          a.btn-addon.text-ellipsis(
            ng-href='{{Job.jobHref(job.id)}}'
            ng-class='{"font-bold text-primary": job.id == App.$state.params.jobId}'
          )
            i.fa.fa-user-plus(ng-if='App.userinfo.id !== job.owner_id' uib-tooltip='Shared with me' tooltip-append-to-body='true' tooltip-placement='right')
            span.m-l-lg.m-r-xs(ng-if='!(App.userinfo.id !== job.owner_id)')
            span.m-l-n-sm {{job.role}}

      .m-t-sm

      a: .m-l-xs.h4.text-danger(ng-if='Job.closed.length' ng-click='Job.collapse.closed = !Job.collapse.closed')
        i.fa.fa-plus-square(ng-if='Job.collapse.closed')
        i.fa.fa-minus-square(ng-if='!Job.collapse.closed')
        | &nbsp; Closed
      ul.m-t-xs.nav(uib-collapse='Job.collapse.closed')
        li.b-l.b-3x(
          ng-repeat='job in Job.closed'
          ng-class='{"text-primary b-primary": job.id == App.$state.params.jobId}'
          uib-tooltip="{{job.role}}" tooltip-placement='right' tooltip-append-to-body='true'
        )
          a.btn-addon.text-ellipsis(
            ng-href='{{Job.jobHref(job.id)}}'
            ng-class='{"font-bold text-primary": job.id == App.$state.params.jobId}'
          )
            i.fa.fa-user-plus(ng-if='App.userinfo.id !== job.owner_id' uib-tooltip='Shared with me' tooltip-append-to-body='true' tooltip-placement='right')
            span.m-l-lg.m-r-xs(ng-if='!(App.userinfo.id !== job.owner_id)')
            span.m-l-n-sm {{job.role}}

      .m-b-md
