.hbox
  .col.bg-primary.w-xxl.h-full.b-r.text-center(
    style='position:absolute;top: 0;left: 0;display: flex;align-items: center;justify-content: center;'
  )
    div
      span.h4.text-u-c Welcome to
      .h4.inline.font-bold.m-l-xs QUEZX
      .w-sm.text-center
        img.m-t-md.w.img-responsive(src='assets/images/quezx-logo-white.svg')
  .col.wrapper-xl(style='position:absolute;left: 360px;top: 0;')
    form.form.form-validation(ng-submit="$ctrl.signup()" name='signupForm')
      h3.text-primary.padder.padder-v Sign up
      .col-xs-6
        .form-group
          label Name
          span.text-danger *
          input.form-control(
            name='firstname'
            type='text'
            ng-model='$ctrl.data.firstname'
            placeholder='First Name'
            autofocus
            required
            ng-minlength='3'
          )
        .col-xs-11.no-padder.text-danger.m-b-sm.m-t-n-sm(
          ng-if='signupForm.firstname.$invalid && signupForm.firstname.$dirty'
          ng-bind='signupForm.firstname.$invalid ? "First Name must have at least 3 characters" : ""'
        )
      .col-xs-6
        .form-group
          label(style='visibility: hidden;') Last Name
          input.form-control(
            type='text'
            ng-model='$ctrl.data.lastname'
            placeholder='Last Name'
            required
            ng-minlength='3'
            name='lastname'
          )
        .col-xs-11.no-padder.text-danger.m-b-sm.m-t-n-sm(
          ng-if='signupForm.lastname.$invalid && signupForm.lastname.$dirty'
          ng-bind='signupForm.lastname.$invalid ? "Last Name must have at least 3 characters" : ""'
        )
      .col-xs-12
        .form-group
          label Company Name:
          span.text-danger *
          input.form-control(
            type='text'
            ng-model='$ctrl.data.Client.name'
            placeholder='Company Name'
            required
            ng-minlength='3'
            name='client_name'
          )
        .col-xs-11.no-padder.text-danger.m-b-sm.m-t-n-sm(
          ng-if='signupForm.client_name.$invalid && signupForm.client_name.$dirty'
          ng-bind='signupForm.client_name.$invalid ? "Company name must have at least 3 characters" : ""'
        )
      .col-xs-12
        .form-group
          label Mobile Number:
          span.text-danger *
          input.form-control(
            type='text'
            ng-model='$ctrl.data.number'
            placeholder='Mobile Number'
            required
            ng-pattern='/^[1-9]\\d{9}$/'
            name='number'
          )
        .col-xs-11.no-padder.text-danger(
          ng-if='signupForm.mobileno.$invalid && signupForm.mobileno.$dirty'
          ng-bind='signupForm.mobileno.$invalid ? "Mobile Number must be of 10 digits" : ""'
        )
      .col-xs-12
        .form-group
          label Password:
          span.text-danger *
          input.form-control(
            type='password'
            ng-model='$ctrl.data.password'
            placeholder='xxxxxxxxxxx'
            required
            ng-minlength='8'
            name='password'
          )
        .col-xs-11.no-padder.text-danger(
          ng-if='signupForm.password.$invalid && signupForm.password.$dirty'
          ng-bind='signupForm.password.$invalid ? "Password must be at least 8 characters" : ""'
        )
      .col-xs-12(ng-if='$ctrl.$stateParams.email')
        .form-group
          label Email:
          span.text-danger *
          input.form-control(
            type='text'
            ng-model='$ctrl.$stateParams.email'
            placeholder='Email'
            ng-disabled='$ctrl.$stateParams.signup_code'
          )
      .col-xs-12.padder-v
        button.btn.btn-success(type='submit' ng-disabled='signupForm.$invalid || $ctrl.ui.loading || $ctrl.disableSignup')
         i.fa.fa-circle-o-notch.fa-spin.m-r-xs(ng-if='$ctrl.ui.loading')
         span Signup
