.container.hbox.hbox-auto-xs
  .col.w-xl.v-middle
    .wrapper.text-center.text-dark: h3 Change Password

    form.form-validation.r-2x.b-a.b-light-dker.wrapper-md.bg-white-only.clear(name="form" ng-submit='$ctrl.change()' method='POST')
      .alert.alert-danger(ng-show='$ctrl.error' ng-bind='$ctrl.error')
      .alert.alert-success(ng-show='$ctrl.success' ng-bind='$ctrl.success')

      .form-group
        label.text-dark-dker(for='old_password') Current password
        input.wrapper-md.form-control(
          type='password'
          name='old_password'
          ng-model='$ctrl.data.old_password'
          id='old_password'
          autofocus
          ng-minlength="3"
          required)
      .form-group
        label.text-dark-dker(for='password') New password
        .text-danger-lter(ng-if='form.confirm_password.$touched')
          p(ng-show='form.password.$error.minlength') Password must be 3 Characters or more
        input.wrapper-md.form-control(
          type='password'
          name='password'
          ng-model='$ctrl.data.password'
          id='password'
          ng-minlength="3"
          ng-change='$ctrl.match(form.confirm_password)'
          required)
      .form-group
        label.text-dark-dker(for='confirm_password') Confirm new password
        .text-danger-lter(ng-if='form.confirm_password.$touched')
          p(ng-show='form.confirm_password.$error.match') Password mismatch
        input.wrapper-md.form-control(
          type='password'
          name='confirm_password'
          ng-model='$ctrl.confirm_password'
          id='confirm_password'
          ng-change='$ctrl.match(form.confirm_password)'
          required)
      .hbox
        .col.v-middle: button.btn.btn-md.btn-success(type='submit' ng-disabled='form.$invalid') Update
        .col.v-middle.text-right: a.text-info(ui-sref='oauth.password-reset') I forgot my password
