div.pos-abt.page-profile(style='margin-left: 240px; height: 93vh;')
  .container.hbox.hbox-auto-xs.bg-white
    .col.w-xxl
      .wrapper.text-center
        h3.text-dark(ng-if='!$ctrl.isPasswordBlock') Change Password
        div.text-info(ng-if='$ctrl.isPasswordBlock')
          img.thumb-lg(src='/assets/images/welcome.svg')
          h2 Welcome Aboard
          .text-center
            .h5.text-muted.wrapper-sm Choose a new password for your QuezX Account

      form.bg-light.form-validation.r-2x.b-a.b-light-dker.wrapper-md.clear(name="form" ng-submit='$ctrl.change()' method='POST')
        .alert.alert-danger(ng-show='$ctrl.error' ng-bind='$ctrl.error')
        .alert.alert-success(ng-show='$ctrl.success' ng-bind='$ctrl.success')

        .form-group(ng-if='!$ctrl.isPasswordBlock')
          label.text-dark-dker(for='old_password') Current password
          input.wrapper-md.form-control(
            type='password'
            name='old_password'
            ng-model='$ctrl.data.old_password'
            id='old_password'
            autofocus
            ng-minlength="3"
            required)
        .form-group
          label.text-dark-dker(for='password') New password
          .text-danger-lter(ng-if='form.confirm_password.$touched')
            p(ng-show='form.password.$error.minlength') Password must be 3 Characters or more
          input.wrapper-md.form-control(
            type='password'
            name='password'
            ng-model='$ctrl.data.password'
            id='password'
            ng-minlength="3"
            ng-change='$ctrl.match(form.confirm_password)'
            required)
        .form-group
          label.text-dark-dker(for='confirm_password') Confirm new password
          .text-danger-lter(ng-if='form.confirm_password.$touched')
            p(ng-show='form.confirm_password.$error.match') Password mismatch
          input.wrapper-md.form-control(
            type='password'
            name='confirm_password'
            ng-model='$ctrl.confirm_password'
            id='confirm_password'
            ng-change='$ctrl.match(form.confirm_password)'
            required)
        .hbox(ng-if='$ctrl.isPasswordBlock')
          .col.v-middle: button.btn.btn-md.btn-success.pull-right(type='submit' ng-disabled='form.$invalid')
            i.fa.fa-spin.fa-circle-o-notch.m-r-xs(ng-if='this.ui.loading')
            span(ng-if='this.ui.loading') Proceeding...
            span(ng-if='!this.ui.loading') Proceed
        .hbox(ng-if='!$ctrl.isPasswordBlock')
          .col.v-middle: button.btn.btn-md.btn-success(type='submit' ng-disabled='form.$invalid') Update
          .col.v-middle.text-right: a.text-info(ui-sref='oauth.password-reset') I forgot my password
