div.bg-white-only(ng-controller='JobViewController as Job')

  .wrapper-xs.bg-light.b-b(style='position: fixed;width: 100%;background: #fff; z-index: 3;')
    ul.nav.nav-pills.nav-sm
      li: label.i-checks.m-t-xs.m-b-none.m-l-lg
        i.m-r-none(ng-if='Applicant.applicants.length > 0')
      li(ng-repeat='bucket in Job.buckets' ui-sref-active="active")
        a(ui-sref='app.jobs.manage({bucket: bucket, jobId: App.$state.params.jobId })') {{bucket}}

  .wrapper-xs.bg-light.b-b(style='position: fixed; right: 0;background: #fff; z-index: 3;')
    ul.nav.nav-pills.nav-sm.navbar-right.m-n

      li.dropdown.hidden-xs(
        ng-controller='JobFollowersController as Follower'
        uib-dropdown auto-close='outsideClick'
        ng-include="'html/_job.follower.html'"
        uib-tooltip='Add Follower/Owner'
        tooltip-placement='left'
        tooltip-append-to-body='true'
      )

      li(ui-sref-active="active")
        a.h5.b-a.b-info.b-2x.text-info.font-bold(ui-sref='app.jobs.view({jobId: App.$state.params.jobId})') View JD

  .hbox.hbox-auto-xs.hbox-auto-sm
    .col.clearfix.wrapper-md

      //- Job top cover container
      .m-t-lg
      .wrapper-xs
        .wrapper-md.clear.b-a.b-light-dk
          strong.text-dark-lt.wrapper-xs.h3 {{Job.data.client_name}}

          //- Job status label
          .pull-right
            a.padder.h4(ui-sref='app.jobs.edit({jobId: Job.data.id})' title='Edit JD' ng-if='Job.data.owner')
              i.fa.fa-pencil
              | &nbsp;Edit

          .wrapper-xs
            strong.h3
              span(title='Job position') {{Job.data.role}}
              span.text-muted(title='Job location') &nbsp;– {{Job.data.job_location}}

          .wrapper-xs.h4(title='Salary range')
              i.fa.fa-lg.fa-inr
              | &nbsp; {{Job.data.min_sal}} – {{Job.data.max_sal}} Lakhs
          .wrapper-xs.h4(title='Functional area')
            i.fa.fa-md.fa-briefcase
            | &nbsp;{{Job.data.functional_area}}

          .m-t-sm(title='Job status')
            span.b-a.rounded.text-danger.b-danger.lt(ng-if='(Job.data.job_status === "Closed")')
              span.padder.h5 Closed
            span.b-a.rounded.text-success-dker.b-success.dk(ng-if='!(Job.data.job_status === "Closed")')
              span.padder.h5 Open

      .wrapper-xs
        .hbox.wrapper-xs(ng-if='Job.data.min_exp && Job.data.max_exp')
          .col.thumb-lg: .h4.text-muted Experience
          .col.v-middle {{Job.data.min_exp}} – {{Job.data.max_exp}} Years
        .hbox.wrapper-xs(ng-if='Job.data.min_exp && Job.data.max_exp')
          .col.thumb-lg: .h4.text-muted Vacancy
          .col.v-middle {{Job.data.vacancy}}

        .wrapper-xs.b-b

      .wrapper-xs(ng-if='Job.comments')
        .wrapper-xs.h4.text-muted Sourcing and Screening Guidelines
        .wrapper-xs(ng-bind-html="Job.comments")

        .wrapper-xs.b-b

      //- Job Perks
      .wrapper-xs(ng-if='Job.data.perks')
        .wrapper-xs.h4.text-muted Perks, Incentives, ESOPs &amp; Compensation details
        .wrapper-xs(ng-bind-html="Job.perks" style='word-break: break-all;')

        .wrapper-xs.b-b

      //- Job Responsibility
      .wrapper-xs(ng-if='Job.data.responsibility')
        .wrapper-xs.h4.text-muted Duties and Responsibility
        .wrapper-xs(ng-bind-html="Job.responsibility" style='word-break: break-all;')

        .wrapper-xs.b-b

      //- Job Details
      .wrapper-xs
        .wrapper-xs.h4.text-muted About Us
        .wrapper-xs
          .h4.text-light-dker
            | {{Job.data.client_name}}
            i.text-muted(ng-if='Job.data._root_.min_emp && Job.data._root_.max_emp')
              | &nbsp; ({{Job.data._root_.min_emp}} - {{Job.data._root_.max_emp}} Employees)
          .m-t-xs
          p {{Job.data._root_.description}}
          p.text-muted(ng-if='Job.data._root_.website') Website: {{Job.data._root_.website}}
          p.text-muted
            a(ng-href='{{Job.data._root_.apple_store_link}}' ng-if='Job.data._root_.apple_store_link'): i.fa-lg.fa.fa-apple.wrapper-xs
            a(ng-href='{{Job.data._root_.playstore_link}}' ng-if='Job.data._root_.playstore_link'): i.fa-lg.fa.fa-android.wrapper-xs
            a(ng-href='{{Job.data._root_.windiows_store_link}}' ng-if='Job.data._root_.windiows_store_link'): i.fa-lg.fa.fa-windows.wrapper-xs

        .wrapper-xs.b-b

      div(ng-if='Job.data.required_skills || Job.data.optional_skills || Job.data.degrees')
        .wrapper-xs.clear(ng-if='Job.data.required_skills || Job.data.optional_skills')
          .wrapper-xs.h4.text-muted Skills
          .wrapper-xs
            .h5.clear(ng-if='Job.data.required_skills')
              div.m-t-sm: strong.text-muted Must have
              .wrapper-xs.pull-left.text-info-dker.b-a.b-info.r.m-t-xs.m-r-xs(ng-repeat='value in Job.data.required_skills') &nbsp;{{value}}&nbsp;
            .h5.clear(ng-if='Job.data.optional_skills')
              div.m-t-sm: strong.text-muted Optional
              .wrapper-xs.pull-left.text-info-dker.b-a.b-info.r.m-t-xs.m-r-xs(ng-repeat='value in Job.data.optional_skills') &nbsp;{{value}}&nbsp;

        .wrapper-xs.clear(ng-if='Job.data.degrees')
          .wrapper-xs.h4.text-muted Qualifications
          .m-l-xs.m-r-xs
            .wrapper-xs.pull-left.text-light-dk.b-a.r.m-t-xs.m-r-xs(ng-repeat='value in Job.data.degrees') &nbsp;{{value}}&nbsp;

        .wrapper-xs: .wrapper-xs.b-b

      div(ng-if='Job.data.institutes || Job.data.industries || Job.data.employers')
        .wrapper-xs.clear(ng-if='Job.data.institutes')
          .wrapper-xs.h4.text-muted Target Educational Institutes
          .m-l-xs.m-r-xs
            .wrapper-xs.pull-left.text-light-dk.b-a.r.m-t-xs.m-r-xs(ng-repeat='value in Job.data.institutes') &nbsp;{{value}}&nbsp;
        .wrapper-xs.clear(ng-if='Job.data.industries')
          .wrapper-xs.h4.text-muted Target Industries
          .m-l-xs.m-r-xs
            .wrapper-xs.pull-left.text-light-dk.b-a.r.m-t-xs.m-r-xs(ng-repeat='value in Job.data.industries') &nbsp;{{value}}&nbsp;
        .wrapper-xs.clear(ng-if='Job.data.employers')
          .wrapper-xs.h4.text-muted Target Companies
          .m-l-xs.m-r-xs
            .wrapper-xs.pull-left.text-light-dk.b-a.r.m-t-xs.m-r-xs(ng-repeat='value in Job.data.employers') &nbsp;{{value}}&nbsp;

        .wrapper-xs: .wrapper-xs.b-b


      .h4.wrapper-xs(ng-if='Job.data.days_per_week && Job.data.start_work_time && Job.data.end_work_time')
        .wrapper-xs.h4.text-muted Working Days
        .wrapper-xs.h5 {{Job.data.days_per_week}} Days a Week ({{Job.data.start_work_time}} to {{Job.data.end_work_time}})

      .h4.wrapper-xs(ng-if='Job.data.job_nature')
        .wrapper-xs.h4.text-muted Job Nature
        .wrapper-xs.h5 {{Job.data.job_nature}}

      .h4.wrapper-xs(ng-if='Job.data.preferred_genders')
        .wrapper-xs.h4.text-muted Gender
        .wrapper-xs.h5 {{Job.data.preferred_genders}}

        .wrapper-xs.b-b

      //- Job Interview Information
      .wrapper-xs(ng-if='Job.interview_addr')
        .wrapper-xs.h4.text-muted Interview Address
        .wrapper-xs.h5(ng-bind-html="Job.interview_addr")

      .wrapper-xs(ng-if='Job.interview_place_direction')
        .wrapper-xs.h4.text-muted Interview Place Direction
        .wrapper-xs.h5(ng-bind-html="Job.interview_place_direction")

    .col.w-lg: .b-l.w-lg.bg-white-only.w-auto-xs.w-auto-sm.nav-comment.m-t-xl(ng-controller='JobCommentsController as Comments')
      div(style='position: relative; height: 100%; width: 100%; top: 0; bottom: 50px; overflow-x: hidden; overflow-wrap: break-word;' scroll-to-bottom='Comments.ui.scrollToBottom')
        ul.list-group.no-bg.pull-in
          li.list-group-item(ng-repeat='comment in Comments.data | orderBy: "created_at"')
            a.pull-left.thumb-sm.m-r-md(href=''): .fa-stack.fa-2x.text-primary
              i.fa.fa-circle.fa-stack-2x
              span.fa.fa-stack-1x.h3.fa-inverse {{comment.user.name[0].toUpperCase()}}

            .clear
              .text-info-dker {{comment.user.name}}
              p {{comment.body}}
              .text-muted.pull-right(title='{{comment.created_at | date: "medium"}}') {{comment.created_at | date: 'd MMM, h:mm a'}}
        div(style='height: 20px;')
      form.form.form-validation.col-xs-12.wrapper-xs(style='position: relative; height: 50px; width: 100%; bottom: 40px; background-color: #fff;' ng-submit='Comments.insert()' name='commentForm')
        .input-group
          input.form-control(type='text' name='comment' placeholder='enter to comment' required ng-model='Comments.post.comment')
          span.input-group-btn
            button.btn.btn-default(type='sumbit' ng-disabled='commentForm.$invalid')
              i.fa.fa-paper-plane

