.wrapper-xs.bg-light.b-b
  a.btn.btn-md.btn-primary.btn-addon.pull-right.m-t-n-xs(
    uib-tooltip='Create new job Position'
    ui-sref='app.jobs.new'
    tooltip-placement='left'
    target='_blank'
  )
    i.fa.fa-upload
    span.font-thin Upload JD
  .m-l-md.font-thin.h3 Positions
.col-lg-10.col-lg-offset-1.wrapper-md
  table.table.m-b-none(
    ng-controller='JobsController as Job'
    ng-init="color={'High Priority':'success','Open': 'info', 'Hold': 'warning', 'Closed': 'danger'}" before-bottom='Job.loadJobs()'
  )
    thead
      tr
        th Positions
        th(style='width:20%;') Status
        th(style='width:20%;') CVs in Pipeline
    tbody
      tr.bg-white(ng-repeat='job in Job.jobs')
        td.wrapper-md: a(ui-sref='app.jobs.manage({jobId: job.id, bucket: "Pending Feedback" })')
          | {{job.role}}
          i.m-l-xs.text-dark-lter.fa.fa-user-plus(ng-if='App.userinfo.id !== job.user_id' uib-tooltip='Shared with me' tooltip-placement='right')
        td.wrapper-md(class='text-danger-dker' ng-if='job.job_status_id === 4') Closed
        td.wrapper-md(class='text-primary-dker' ng-if='!(job.job_status_id === 4)') Open
        td.wrapper-md {{job.count}}

  .text-center.m-t-md
    span(title='Loading ...' ng-if="Job.ui.loading")
      i.fa.fa-spin.fa-circle-o-notch.btn.btn-default.wrapper-xs.rounded
    span(title='Load more' ng-if="Job.ui.lazyLoad" ng-click="Job.loadJobs()")
      i.fa.fa-arrow-down.btn.btn-default.wrapper-xs.rounded
