.container.w-xxl.w-auto-xs
  a.text-center.navbar-brand.block.m-t(href='')
    img(src='/assets/images/quezx-logo-blue.svg' alt='QuezX Accounts')
  .wrapper.text-center(ng-if='!$ctrl.show')
    strong Loading...
  .wrapper.text-center(ng-if='$ctrl.show')
    strong Sign in
    br

  form.form-validation(name='form' ng-submit='$ctrl.signin()' ng-if='$ctrl.show')
    .text-danger.wrapper.text-center(ng-show='$ctrl.error' ng-bind='$ctrl.error')

    .list-group.list-group-sm.m-b-md
      .list-group-item: input.form-control.no-border(
        type='text'
        placeholder='Email or username'
        ng-model='$ctrl.user.username'
        autofocus='true'
        required)
      .list-group-item: input.form-control.no-border(
        type='password'
        placeholder='Password'
        ng-model='$ctrl.user.password'
        required)

    button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in

  .wrapper-md.text-center: a.text-info(ui-sref='oauth.password-reset') Forgot password?
.row(ng-if='$ctrl.show')
  .col-md-3(style="margin-left: 23%;")
    hr(style="border-width: 2px;margin-top: 4%;")
  strong(style="width: auto;").col-md-1 or
  .col-md-3
    hr(style="border-width: 2px;margin-top: 4%;")

.text-center(ng-if='$ctrl.show')
  a.btn.btn-lg(href="{{$ctrl.urls.SSO_APP}}/oauth/google?continue={{$ctrl.$location.search().continue}}")
    img(src='assets/images/btn_google_signin_light_normal_web.png')

  footer
